:root {
  --header-height: 64px;
  --header-font-color: #212124;
  --header-font-weight: 600;
  --header-input-font-size: 0.9em;
  --mobile-search-font-size: 1.1rem;
}

* {
  margin: 0;
  padding: 0;
}

main {
  display: flex;

  flex-direction: column;

  align-items: center;
}

footer {
  width: 968px;
  height: 629px;
}

#footer-footerHead {
  width: 1440px;
  border-top: 1px solid rgb(225, 218, 218);
  height: 629px;
}

#footer-footerSectionDiv {
  display: flex;
  flex-direction: column;
  width: 1440px;
  margin-top: 60px;
}

#footer-footerSection1 {
  display: flex;
  height: 300px;
  justify-content: center;
}

#footer-footerSection2 {
  display: flex;
  justify-content: center;
}

.footer-ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  font-size: 15px;
  width: 160px;
  height: 131px;
}
.footer-ul li {
  width: 90px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-img {
  width: 147px;
  height: 44px;
  border-radius: 5px;
}
.footer-img:hover {
  filter: grayscale(100%);
}
#footer-Section2P {
  font-size: 13px;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 540px;
  border-top: 1px solid rgb(225, 218, 218);
  line-height: 25px;
  color: darkgray;
}

.footer-img1 {
  border-top: 1px solid rgb(225, 218, 218);
  padding-top: 30px;
  width: 250px;
  height: 30px;
}

.footer-Section2img {
  width: 280px;
  height: 100px;
}

.footer-span {
  padding-right: 10px;
  font-weight: bold;
}

#footer-Section2P2 {
  font-size: 13px;
  margin-top: 30px;
  line-height: 20px;
  margin: 0 auto;
}

#footer-Section2P2 p {
  position: relative;
  right: -325px;
  display: flex;
  justify-content: start;
  color: darkgray;
}
.footer-a {
  text-decoration: none;
  color: black;
}

.footer-a:hover {
  text-decoration: underline;
}

/* header */

.header {
  width: 100vw;
  position: fixed;
  display: flex;
  align-items: center;
  height: var(--header-height);
  padding: 12px 20px;
  z-index: 10;
  background-color: white;
  box-sizing: border-box;
}

.header-container {
  position: relative;
  margin: 0 auto 0;
  display: flex;
  max-width: 1200px;
  width: 100%;
  justify-content: space-between;
  box-sizing: border-box;
  font-size: 1.1em;
  font-family: sans-serif;
}

.header-left {
  display: flex;
  align-items: center;
}

.header-left .header-icon {
  margin-right: 36px;
}

.header-left .header-icon a {
  all: unset;
  cursor: pointer;
}

.header-nav .header-nav-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.header-nav .header-nav-list li {
  all: unset;
  margin-right: 30px;
  white-space: nowrap;
  font-weight: var(--header-font-weight);
  color: var(--header-font-color);
}

.header-nav .header-nav-list li a {
  all: unset;
  cursor: pointer;
}

.header-nav .header-nav-list li:hover {
  opacity: 0.4;
}

.header-right {
  display: flex;
  align-items: center;
}

.header-right .header-search-container {
  margin-right: 0.6em;
}

.header-search {
  all: unset;
  width: 264px;
  background-color: #f2f3f6;
  display: block;
  position: relative;
  padding: 9px 12px;
  border-radius: 5px;
  font-size: var(--header-input-font-size);
}

.header-search::placeholder {
  opacity: 0.7;
}

.header-chat-button {
  all: unset;
  white-space: nowrap;
  border: 1px solid #ced4da;
  padding: 8px 16px;
  border-radius: 4px;
  color: var(--header-font-color);
  font-weight: var(--header-input-font-size);
  transition: background-color 0.1s ease-in-out, opacity 0.1s ease-in-out;
  font-size: 0.9em;
}

.header-chat-button:hover {
  background-color: #f2f3f6;
  opacity: 0.7;
  cursor: pointer;
}

.header-mobile-search-button {
  display: none;
}

@media (max-width: 991px) {
  @keyframes recommendationAppear {
    0% {
      top: -15px;
    }
    100% {
      top: 0px;
    }
  }

  .header-search {
    display: none;
  }
  .header-mobile-container {
    padding: 5px 15px;
    background-color: white;
    font-size: var(--mobile-search-font-size);
  }
  .header-mobile-search-button {
    display: block;
    all: unset;
  }
  .header-mobile-search-button svg {
    vertical-align: middle;
  }
  #header-overlap {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(23, 23, 26, 0.5);
    top: 0;
    left: 0;
    z-index: 100;
  }

  .header-mobile-search {
    display: flex;
    position: relative;
    height: var(--header-height);
    box-sizing: border-box;
    align-items: center;
    z-index: 110;
    background-color: white;
  }
  .header-mobile-input-container {
    flex-grow: 1;
    display: block;
  }
  .header-mobile-input {
    display: block;
    width: 100%;
    box-sizing: border-box;
  }
  .header-mobile-cancel {
    all: unset;
    font-weight: var(--header-font-weight);
    color: var(--header-font-color);
    margin-left: 15px;
  }

  .header-mobile-recommendation {
    background-color: white;
    position: relative;
    animation: recommendationAppear 0.3s ease-in-out;
    animation-fill-mode: forwards;
    z-index: 90;
  }
  .header-recommend-title {
    line-height: 2.4em;
    color: var(--header-font-color);
    opacity: 0.7;
  }
  .header-recommend-content {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    box-sizing: border-box;
  }

  .header-recommend-content a {
    all: unset;
    border-bottom: 1px solid #eaebee;
    padding: 0.4em 0;
  }
  .header-recommend-content a:nth-last-child(-n + 2) {
    border-bottom: none;
  }

  .header-recommend-content a li {
    all: unset;

    line-height: 2.4em;
  }
}

@media (max-width: 767px) {
  .header-mobile-container {
    font-size: 0.9rem;
  }
}

/* section0 */

.section0 {
  width: 100%;
  height: 800px;
  position: relative;
  top: var(--header-height);
  overflow: hidden;
  background-color: #fffae0;
}

.section0-container {
  display: flex;
  width: 1100px;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto 0;
}

.section0-left {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}

.section0-left > *:not(.section0-left > *:last-child) {
  margin-bottom: 20px;
}

.section0-title {
  font-size: 3em;
  line-height: 1.5em;
}

.section0-subtitle {
  font-size: 1.2em;
  font-weight: normal;
  line-height: 1.4em;
  color: #7c7c7c;
}

.section0-buttons-container a {
  all: unset;
}

.section0-button {
  all: unset;
  background-color: #ff6f0f;
  padding: 14px 16px;
  border-radius: 0.7em;
  width: 160px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.section0-button span {
  color: white;
  font-weight: bold;
  display: inline-block;
  margin-left: 15px;
}

.section0-button .section0-button-icons {
  vertical-align: middle;
}

#section0-apple {
  position: relative;
  top: -2px;
}

.section0-right {
  height: 100%;
  position: relative;

  right: -100px;
}

.section0-right .section0-image {
  height: 100%;
}

/* section1 */

.section1 {
  margin: auto;
  background-color: #f9f9f9;
  padding: 20px;
  position: relative;
}
.section1-image {
  display: inline-block;
  overflow-clip-margin: content-box;
}
.section1-content {
  width: 1024px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section1-service-title {
  font-weight: 700;
  font-size: 18px;
  color: #ff6f0f;
  margin-bottom: 10px;
  display: block;
  margin-block: 0.55em;
  margin-inline: 0px;
}
.section1-home-title {
  font-size: 42px;
  line-height: 57px;
  margin-bottom: 10px;
  display: block;
  font-weight: 700;
  margin-block-start: 0.83 em;
  margin-block-end: 0.83 em;
  letter-spacing: -0.015em;
}
.section1-service-desc {
  font-weight: 400;
  font-size: 20px;
  color: #7c7c7c;
  line-height: 30px;
  display: block;
  margin-block-start: 0.5em;
  margin-block-end: 1.5em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.section1-buttons {
  background-color: #e9ecef;
  color: #212529;
  border-radius: 6px;
  padding: 12px 1.4rem;
  display: inline-block;
  margin: 0px;
  cursor: pointer;
  font-size: 18px;
  line-height: 23.76px;
  font-weight: 700;
  border: none;
  text-align: middle;
}

.section1-buttons:hover {
  background: #dee2e6;
}

/* section2 */

.section2 {
  display: block;
  background-color: fff8f1;
  padding: 0;
  margin: 0;
  outline: none;
}

.section2-main-content {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  width: 1024px;
  margin: 0 auto;
  justify-content: center;
  padding: 0;
}

.section2-main-text {
  display: block;
  padding: 0;
  margin: 0;
}

.section2-main-image {
  display: inline-block;
  background-size: 655px 750px;
  padding: 0;
  margin: 0;
}

.section2-service-title {
  font-weight: 700;
  font-size: 18px;
  color: #ff6f0f;
  margin-top: 0;
  margin-left: 25px;
  margin-bottom: 10px;
  display: block;
}

.section2-main-title {
  font-size: 42px;
  line-height: 57px;
  margin-top: 0;
  margin-left: 25px;
  margin-bottom: 10px;
  font-weight: 700;
}

.section2-service-desc {
  font-weight: 400;
  font-size: 20px;
  margin-left: 25px;
  color: #7c7c7c;
  line-height: 30px;
  outline: none;
  display: block;
}

.section2-list {
  margin-top: 40px;
  margin-left: -25px;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding-inline-start: 40px;
  font-weight: 400;
}

.section2-list-item {
  display: list-item;
  margin-right: 10px;
  margin-left: 0;
  width: 124px;
  margin: 8px;
}

.section2-item-title {
  margin-bottom: 8px;
  margin-top: 16px;
  font-size: 14px;
  line-height: 1.5;
  font-weight: bold;
  display: block;
}

.section2-item-desc {
  font-weight: 400;
  font-size: 13px;
  color: #7c7c7c;
  line-height: 17px;
  padding: 0;
  margin: 0;
}

.section22-button {
  background-color: #e9ecef;
  color: #212529;
  border-radius: 6px;
  padding: 12px 20px;
  display: inline-block;
  margin-top: 30px;
  margin-left: 25px;
  cursor: pointer;
  font-size: 18px;
  line-height: 23.76px;
  font-weight: 700;
  border: none;
  text-align: middle;
}
